@charset "UTF-8";

/*
-----------------*/

html {
    font-size: 100%;
}

body {
    font-family: "나눔고딕", NanumGothis, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: #000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER
----------------------- */
.logo {
    width: 210px;
    margin-top: 14px;
}

.main-nav {
    display: inline-block;
    margin: 30px;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
    display: inline-block
}

.main-nav a {
    color: #000;
}

.main-nav a:hover {
    color: #fff;
    ;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

/* HOME
-----------------------*/
.home-content {
    text-align: center;
    margin-top: 10%;
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;    
}

/* 제목 */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;    
}

/* 버튼 */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover {
    background: #0090aa;
}

/* 큰 배경 이미지 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url(../images/main-bg.jpg);
    /* linear-gradient(#c9ffbf, #ffafbd); */
    /* background-blend-mode: luminosity; */
    min-height: 100vh;
}

#home.page-title {
    text-transform: none;
}

/* INTRODUCE
-----------------------------*/
#intro {
    background-image: url(../images/main-bg.jpg);
    height: 270px;
    margin-bottom: 40;
}

#intro.page-title {
    text-align: center;
}

/* 푸터
--------------------------------*/
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* 소개 부분 */
article {
    width: 74%;
    padding-top: 20px;
}

.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

.post-number {
    background: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 80px;
    height: 80px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 20px;
}

.post-title {
    font-family: "나눔명조", nanummyeongjo, serif;
    font-size: 2rem;
    font-weight: normal;
    margin-left: 100px;
}

.post-title,
.post-cat {
    margin-left: 120px;
}

article {
    width: 90%;
}

/* 사이드바 */
aside {
    width: 22%;
}

.intro-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

article img {
    margin-bottom: 20px;
}

article div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sub-title {
    font-size: 1.375rem;
    padding: 20px 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}

.sub-menu li {
    border-bottom: 1px #ddd solid;
}

.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #0bd;
}

@media (max-width: 600px) {
    h1 {
        color: #0bd;
    }
}



/* ROOM
--------------------------------------*/
#room {
    background-image: url(../images/main-bg.jpg);
    /* min-height: 100vh; */
    height: 270px;
    margin-bottom: 40;
}

.room-content {
    max-width: 560px;
    text-align: center;
}

.room-content .page-title {
    text-align: center;
}

.room-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

/* .big-box {
    grid-column: 1 / 3;
    grid-row: 1 / 3;    
}

.big-box img {
    height: 94%;
    width: 100%;
    object-fit: cover;
} */


/* CONTACT
----------------------------*/
#contact {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}

/* 입력 양식 */
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
    color: #432;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(225, 225, 225, .5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

/* 원룸 정보와 지도 */
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
.location-info {
    width: 40%;
}
.location-info p {
    padding: 12px 10px;
}
.location-map {
    width: 74%;
}

/* iframe */
iframe {
    width: 100%;
}

/* 모바일 버전
--------------------*/
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }

    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* INTRO */
    .intro-contents {
        flex-direction: column;
    }

    article,
    aside {
        width: 100%;
    }

    #intro.page-title {
        margin-top: 30px;
    }

    aside {
        margin-top: 60px;
    }

    .post-info {
        margin-bottom: 30px;
    }

    .post-number {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }

    .post-title {
        font-size: 1.375rem;
    }

    .post-cat {
        font-size: 00.875rem;
        margin-top: 10px;
    }

    .post-title,
    .post-cat {
        margin-left: 80px;
    }

    /* ROOM */
    .room-content {
        margin-top: 20%;
    }

    .big-box {
        grid-column: auto;
        grid-row: auto;
    }

    .big-box img {
        height: 100%;
    }

    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }

    /* 입력 양식 */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

    /* 원룸 정보와 지도 */
    #location .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map {
        width: 100%;
    }
}